@page
@model PetClinic.Pages.Staff.LogManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalizeLog[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalizeLog[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalizeLog[0].ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalizeLog[0].Hospitalize)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HospitalizeLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospitalize.HospitalizeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HospitalizeLogId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HospitalizeLogId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HospitalizeLogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
