@page
@model PetClinic.Pages.Admin.AdminManageDoctor.AdminViewDoctorScheduleModel
@{
    ViewData["Title"] = "Admin Manage Doctor";
    Layout = null;
    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (email != "admin@petclinic.com")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<head>
    <meta charset="UTF-8">
    <title>Admin Schedule Management</title>

    <link rel="stylesheet" href="~/css/khoiadminschedule.css" />
    <link rel="stylesheet" href="~/css/khoiadminstyle.css" />

</head>
<body>
    @await Html.PartialAsync("_Header", Model)

    <div class="container">
        <@await Html.PartialAsync("_Sidebar")

        <main class="main-content">

            <div class="schedule-header">
                <h1>Schedule</h1>

                <div class="date-range">
                    <div> Start Date: @Model.MondayDate.Date </div>
                    <div> End Date: @Model.SundayDate.Date </div>
                </div>
                <button class="reschedule">+ Reschedule</button>
            </div>

            <form method="post" asp-page-handler="ChangeWeek">
                <button type="submit" name="offset" value="-1">Prev</button>
                <button type="submit" name="offset" value="1">Next</button>
                <input type="hidden" asp-for="SelectedDate" value="@Model.SelectedDate" />
                <input type="hidden" asp-for="DoctorId" value="@Model.DoctorId" />
            </form>

            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Shift</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shift in Model.ShiftList)
                    {
                        <tr>
                            <td> @shift.StartTime - @shift.EndTime </td>
                            @for (DateTime i = Model.MondayDate; i <= Model.SundayDate; i = i.AddDays(1))
                            {
                                <td>
                                    @{
                                        Console.WriteLine("Date :" + i);
                                        var schedule = Model.ScheduleList.FirstOrDefault(d => d.Date == i && d.ShiftId == shift.ShiftId);

                                        if (schedule != null)
                                        {
                                            <div class="shift">
                                                <div>
                                                    @schedule.Employee.FirstName @schedule.Employee.LastName
                                                </div>
                                                <br>
                                                <div>
                                                    @schedule.Date.Value.ToString("dd/MM/yyyy")
                                                </div>
                                            </div>
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </main>
    </div>
</body>