@page
@model PetClinic.Pages.Staff.BookingManagement.BookingHistoryModel

@{
    ViewData["Title"] = "BookingHistory";
}

<h1>BookingHistory</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
