@page
@using PetClinicBussinessObject
@model PetClinic.Pages.Staff.BookingManagement.BookingHistoryModel

@{
    Layout = null;
    ViewData["Title"] = "BookingHistory";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Clinic Homepage</title>
    <link rel="stylesheet" href="~/css/luongstyle.css" />
    <link rel="stylesheet" href="~/css/staffBookingHistory.css" />
    <link rel="stylesheet" href="~/css/customerBookingHistory.css">
</head>

<header>
    <h1>Pet Clinic</h1>
</header>

<nav class="navbar navbar-expand-sm">
    <a asp-page="/Customer/CustomerHomePage">Home</a>
    <a asp-page="/Customer/BookingManagement/BookingHistory">View Bookings</a>
    <a asp-page="/Customer/PetManagement/Index">My Pets</a>
    <a asp-page="/VaccinationManagement/Index">Vaccinations</a>
    <a asp-page="/Customer/HospitalizationView/HospitalizationView">Hospitalizations</a>
</nav>

<h1>BookingHistory</h1>
<form method="post" class="search-form">
    <div class="date-range">
        <div>
            <label>Start Date: </label>
            <input type="date" asp-for="StartDate" />
        </div>
        <div>
            <label>End Date: </label>
            <input type="date" asp-for="EndDate" />
        </div>
    </div>

    <div>
        <label>Payment Status:</label>
        <select asp-for="PaymentStatus">
            <option value="">--Select--</option>
            @foreach (var status in Enum.GetValues(typeof(BookingPaymentStatus)))
            {
                <option value="@status">@status</option>
            }
        </select>
    </div>

    <div>
        <label>Booking Status:</label>
        <select asp-for="BookingStatusFilter">
            <option value="">--Select--</option>
            @foreach (var status in Enum.GetValues(typeof(BookingStatus)))
            {
                <option value="@status">@status</option>
            }
        </select>
    </div>

    <div>
        <label>Shift:</label>
        <select asp-for="ShiftId">
            <option value="">--Select--</option>
            @foreach (var shift in Model.ShiftList)
            {
                <option value="@shift.ShiftId">@shift.StartTime - @shift.EndTime</option>
            }
        </select>
    </div>

    <input type="text" asp-for="DoctorName" placeholder="Doctor Name" />
    <input type="text" asp-for="CustomerName" placeholder="Customer Name" />
    <input type="text" asp-for="PetName" placeholder="Pet Name" />
    <button type="submit" asp-page-handler="Search">Search</button>
</form>

@if (Model.BookingList.Count == 0 || Model.BookingList == null)
{
    <div class="no-booking-message">
        No booking found
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BookingList[0].BookingAt)</th>
                <th>@Html.DisplayNameFor(model => model.BookingList[0].PaymentStatus)</th>
                <th>@Html.DisplayNameFor(model => model.BookingList[0].BookingStatus)</th>
                <th>@Html.DisplayNameFor(model => model.BookingList[0].Pet)</th>
                <th>Date</th>
                <th>Time</th>
                <th>Doctor</th>
                <th>Confirm</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BookingList != null && Model.BookingList.Count > 0)
            {
                foreach (var item in Model.BookingList)
                {
                    <tr>
                        <td>@item.BookingAt</td>
                        <td>@((BookingPaymentStatus)item.PaymentStatus)</td>
                        <td>@((BookingStatus)item.BookingStatus)</td>
                        <td>@item.Pet.PetName</td>
                        <td>@item.Schedule.Date.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.Schedule.Shift.StartTime - @item.Schedule.Shift.EndTime</td>
                        <td>
                            @if (item.Doctor != null)
                            {
                                <div>
                                    @item.Doctor.FirstName @item.Doctor.LastName
                                </div>
                            }
                            else
                            {
                                <div>
                                    No doctor selected!
                                </div>
                            }
                        </td>
                        <td>
                            @if (item.BookingStatus == (int)BookingStatus.Unconfirmed && item.PaymentStatus == (int)BookingPaymentStatus.Paid)
                            {
                                <form method="post" asp-page-handler="Confirm" asp-route-detail="@item.BookingId">
                                    <button type="submit" name="cancel">Confirm</button>
                                </form>
                            }
                        </td>
                        <td>
                            @if (item.BookingStatus != (int)BookingStatus.Canceled)
                            {
                                <form method="post" asp-page-handler="Cancel" asp-route-id="@item.BookingId">
                                    <button type="submit" name="cancel">Cancel</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}