@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PetClinicBussinessObject
@model PetClinic.Pages.PetManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pet List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="/Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Pet Name:
            <input type="text" name="searchPetName" value="@ViewData["searchPetName"]" />

            Customer:
            <input type="text" name="searchCustomer" value="@ViewData["searchCustomer"]" />
            
            Pet Type:
            <select name="searchPetType">
                <option value="">All</option>
                @foreach(var petType in Model.petList)
                {
                    <option value="@petType.PetType">@petType.PetType</option>
                }
            </select>

            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.petList[0].PetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petList[0].PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petList[0].PetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petList[0].PetAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petList[0].Customer)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.petList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PetId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>