@page
@model PetClinic.Pages.Service_Management.IndexModel

@{
    ViewData["Title"] = "Service Management View Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (email != "admin@petclinic.com")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].ActiveStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
