@page
@using PetClinic.Pages.Staff.HospitializeManagement
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospitalize</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.InTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.InTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.OutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.OutTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.ActiveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.ActiveStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.Cage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.Cage.CageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.Doctor.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalize.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospitalize.Pet.PetId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hospitalize.HospitalizeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
