@page
@model PetClinic.Pages.VaccinationManagement.IndexModel

@{
    ViewData["Title"] = "Vaccination Management View Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null)
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].VaccinationRecordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].MedicineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].VaccinationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].NextDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].VaccinatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccinationRecordList[0].Verification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.vaccinationRecordList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationRecordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verification)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.VaccinationRecordId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.VaccinationRecordId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.VaccinationRecordId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
