@page
@model PetClinic.Pages.Staff.CageManagement.DetailsModel
@{
    ViewData["Title"] = "Cage Management Details Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null || role != "1")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Details</h1>

<div>
    <h4>Cage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cage.CageStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cage.CageStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cage.ActiveStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cage.ActiveStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cage?.CageId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
