@page
@using PetClinicBussinessObject
@model PetClinic.Pages.Customer.BookingManagement.BookingDetailModel

@{
    Layout = null;
    ViewData["Title"] = "Booking Detail Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (userId == null || role != "0")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>BookingDetail</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @((BookingPaymentStatus) Model.Booking.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingStatus)
        </dt>
        <dd class="col-sm-10">
            @((BookingStatus)Model.Booking.BookingStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Doctor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Pet.PetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Schedule.ScheduleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Service.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
