@page
@using PetClinicBussinessObject
@model PetClinic.Pages.Customer.BookingManagement.BookingHistoryModel

@{
    Layout = null;
    ViewData["Title"] = "Booking History Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (userId == null || role != "0")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Clinic Homepage</title>
    <link rel="stylesheet" href="~/css/luongstyle.css" />
    <link rel="stylesheet" href="~/css/customerBookingHistory.css">
</head>

<header>
    <h1>Pet Clinic</h1>
</header>

<nav class="navbar navbar-expand-sm">
    <a asp-page="/Customer/CustomerHomePage">Home</a>
    <a asp-page="/Customer/BookingManagement/BookingHistory">View Bookings</a>
    <a asp-page="/Customer/PetManagement/Index">My Pets</a>
    <a asp-page="/VaccinationManagement/Index">Vaccinations</a>
    <a asp-page="/Customer/HospitalizationView/HospitalizationView">Hospitalizations</a>
</nav>



<body>
    <h1>Booking History</h1>

    <div class="create-new-button-container">
        <a asp-page="ChoosePet" class="create-new-button">Create New</a>
    </div>


    @if (Model.BookingList == null || Model.BookingList.Count == 0)
    {
        <div class="no-booking-message">There's no booking yet</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BookingList[0].BookingAt)</th>
                    <th>@Html.DisplayNameFor(model => model.BookingList[0].PaymentStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.BookingList[0].BookingStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.BookingList[0].Pet)</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Detail</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BookingList != null && Model.BookingList.Count > 0)
                {
                    foreach (var item in Model.BookingList)
                    {
                        <tr>
                            <td>@item.BookingAt</td>
                            <td>@((BookingPaymentStatus)item.PaymentStatus)</td>
                            <td>@((BookingStatus)item.BookingStatus)</td>
                            <td>@item.Pet.PetName</td>
                            <td>@item.Schedule.Date.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.Schedule.Shift.StartTime - @item.Schedule.Shift.EndTime</td>
                            <td>
                                @if (item.Doctor != null)
                                {
                                    <div>
                                        @item.Doctor.FirstName @item.Doctor.LastName
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        No doctor selected!
                                    </div>
                                }
                            </td>
                            <td>
                                <form method="post" asp-page-handler="Detail" asp-route-detail="@item.BookingId">
                                    <button type="submit" name="id">Detail</button>
                                </form>
                            </td>
                            <td>
                                @if (item.BookingStatus != (int)BookingStatus.Canceled)
                                {
                                    <form method="post" asp-page-handler="Cancel" asp-route-id="@item.BookingId">
                                        <button type="submit" name="cancel">Cancel</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</body>
