@page
@model PetClinic.Pages.Customer.BookingManagement.MedicalRecordManagement.MedicalRecordDetailsModel

@{
    ViewData["Title"] = "MedicalRecordDetails";
}

<h1>Medical Record Details</h1>

<div>
    <h4>Medical Record</h4>
    <hr />
    <dl class="row">
        <!-- Pet Health Information -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.Conditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.Conditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.WeightMeasurementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.WeightMeasurementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.OverallHealth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.OverallHealth)
        </dd>

        <!-- Medical Information -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.MedicalRecordDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.MedicalRecordDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Booking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Booking!.BookingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Doctor!.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Service!.ServiceName)
        </dd>

        <!-- Prescriptions -->
        @if (Model.PrescriptionMedicines != null && Model.PrescriptionMedicines.Count > 0)
        {
            <div>
                <h4>Prescription Medicines</h4>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Medicine ID</th>
                            <th>Medicine Quantity</th>
                            <th>Dosage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PrescriptionMedicines)
                        {
                            <tr>
                                <td>@item.MedicineId</td>
                                <td>@item.MedicineQuantity</td>
                                <td>@item.Dosage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <div>
            <a asp-page="/Customer/BookingManagement/BookingHistory">Back to Booking</a>
        </div>
