@page
@model PetClinic.Pages.Customer.BookingManagement.PaymentInfoModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/paymentInfo.css" />
</head>

<body>
    <div class="container">
        <h1>INFORMATION</h1>
        <div class="content">
            <div class="left">
                <div class="info-box">
                    <p><strong>Bank Account Number:</strong> @Model.BankAccountNumber</p>
                </div>
                <div class="info-box">
                    <p><strong>Bank Account Owner Name:</strong> @Model.BankAccountOwnerName</p>
                </div>
                <div class="info-box">
                    <p><strong>Bank Name:</strong> @Model.BankName</p>
                </div>
                <div class="info-box">
                    <img src="@Model.BankImage" alt="Bank Logo">
                </div>
            </div>
            <div class="right">
                <img src="@Model.QrCodeImage" alt="QR Code">
            </div>
        </div>
        <button type="button">Next</button>
    </div>
</body>