@page
@model PetClinic.Pages.Customer.BookingManagement.PaymentInfoModel
@{
    Layout = null;
    ViewData["Title"] = "Payment Information Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");
    var email = HttpContext.Session.GetString("Email");

    if (userId == null || role != "0")
    {
        Response.Redirect("/Authentication/Login");
    }
}
<head>
    <link rel="stylesheet" href="~/css/paymentInfo.css" />
</head>

<body>
    <div class="container">
        <h1>INFORMATION</h1>
        <div class="content">
            <div class="left">
                
                <div class="info-box">
                    <p><strong>Account Number: </strong> @Model.BankAccountNumber</p>
                </div>
                <div class="info-box">
                    <p><strong>Account Name: </strong> @Model.BankAccountOwnerName</p>
                </div>
                <div class="info-box">
                    <p><strong>Bank: </strong> @Model.BankName</p>
                    <div class="bank-img">
                        <img src="@Model.BankImage" alt="Bank Logo">
                    </div>
                </div>
            </div>
            
            <div class="right">
                <img src="@Model.QrCodeImage" alt="QR Code">
            </div>
        </div>
    </div>
</body>