@page
@model PetClinic.Pages.PetHealthManagement.DeleteModel

@{
    ViewData["Title"] = "Pet Health Management Delete Page";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null || role != "2" || role != "1" || role != "0")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PetHealth</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.OverallHealth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.OverallHealth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.Conditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.Conditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.WeightMeasurementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.WeightMeasurementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetHealth.Pet.PetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetHealth.VaccinationRecords)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PetHealth.PetHealthId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
