@page
@model PetClinic.Pages.StaffPages.CageManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cage Management</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cage[0].CageId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cage[0].CageStatus)
            </th>
            
            @*<th>
                @Html.DisplayNameFor(model => model.Cage[0].ActiveStatus)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CageEnumStatus)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CageId">Edit Staus</a> |
                <a asp-page="./Details" asp-route-id="@item.CageId">Details</a> |
                <a asp-page="./HospitalizeList" asp-route-CageId="@item.CageId">Hospitalize List</a> |
                @*<a asp-page="./Delete" asp-route-id="@item.CageId">Delete</a> |S*@
                @if (item.CageStatus == 0)
                {
                    <span>Already Hospitalized</span>
                }
                else
                {
                    <a asp-page="/StaffPages/HospitalizeManagement/Create" asp-route-CageId="@item.CageId">Hospitalize</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
