@page "{medicalRecordId:int}"
@model PetClinic.Pages.Doctor.MedicalRecordManagement.CreatePrescriptionModel

@{
    ViewData["Title"] = "Create Prescription";
}

<h1>Create Prescription</h1>

<h4>Prescription Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalRecordId" value="@Model.MedicalRecordId" />
            <input type="hidden" asp-for="Prescription.PrescriptionId" />

            <div class="form-group">
                <label asp-for="PrescriptionMedicine.MedicineId" class="control-label"></label>
                <select asp-for="PrescriptionMedicine.MedicineId" class="form-control" asp-items="ViewBag.MedicineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionMedicine.MedicineQuantity" class="control-label"></label>
                <input asp-for="PrescriptionMedicine.MedicineQuantity" class="form-control" type="number" min="1" />
                <span asp-validation-for="PrescriptionMedicine.MedicineQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionMedicine.Dosage" class="control-label"></label>
                <input asp-for="PrescriptionMedicine.Dosage" class="form-control" value="Breakfast ... pill, Afternoon .... pill, Night .... pill" />
                <span asp-validation-for="PrescriptionMedicine.Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Medicine" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Medicine Name</th>
            <th>Medicine Quantity</th>
            <th>Dosage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PrescriptionMedicines)
        {
            <tr>
                <td>@item.Medicine.MedicineName</td>
                <td>@item.MedicineQuantity</td>
                <td>@item.Dosage</td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="medicineId" value="@item.MedicineId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-page-handler="Save">
    <input type="submit" value="Save Prescription" class="btn btn-success" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
