@page
@model PetClinic.Pages.Doctor.MedicalRecordManagement.CreateRecordModel

@{
    ViewData["Title"] = "Create Medical Record for" + $" Booking {Model.BookId}";

    var userId = HttpContext.Session.GetString("UserId");
    var role = HttpContext.Session.GetString("Role");

    if (userId == null || role != "2")
    {
        Response.Redirect("/Authentication/Login");
    }
}

<h1>Medical Record</h1>
<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Pet Details -->
            <div class="form-group">
                <label class="control-label">Pet Name</label>
                <input type="text" class="form-control" value="@Model.Book.Pet.PetName" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Age</label>
                <input type="text" class="form-control" value="@Model.Book.Pet.PetAge" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <input type="text" class="form-control" value="@Model.Book.Pet.PetType" readonly />
            </div>

            <!-- Pet Health Information -->
            <div class="form-group">
                <label class="control-label">Conditions</label>
                <input type="text" class="form-control" asp-for="PetHealthInfo.Conditions" />
            </div>
            <div class="form-group">
                <label class="control-label">Weight (kg)</label>
                <input type="text" class="form-control" asp-for="PetHealthInfo.Weight" />
            </div>
            <div class="form-group">
                <label class="control-label">Weight Measurement Date</label>
                <input type="date" class="form-control" asp-for="PetHealthInfo.WeightMeasurementDate" />
            </div>
            <div class="form-group">
                <label class="control-label">Overall Health</label>
                <input type="text" class="form-control" asp-for="PetHealthInfo.OverallHealth" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MedicalRecord.MedicalRecordId" />
                <input type="hidden" asp-for="BookId" value="@Model.BookId" />
                <input type="hidden" asp-for="PetHealthInfo.PetHealthId" />
                <input type="submit" value="Update Pet Health" asp-page-handler="UpdatePetHealth" class="btn btn-secondary" />
            </div>
            </form>

            <form method="post">
            <!-- Medical Information -->
            <div class="form-group">
                <label asp-for="MedicalRecord.MedicalRecordDescription" class="control-label"></label>
                <input asp-for="MedicalRecord.MedicalRecordDescription" class="form-control" />
                <span asp-validation-for="MedicalRecord.MedicalRecordDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Doctor</label>
                <input type="text" class="form-control" value="@Model.Book.Doctor.FirstName" readonly />
                <input type="hidden" asp-for="MedicalRecord.DoctorId" value="@Model.Book.DoctorId" />
            </div>

            <div class="form-group">
                <label asp-for="MedicalRecord.ServiceId" class="control-label"></label>
                <select asp-for="MedicalRecord.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                @if (Model.IsMedicalRecordCreated ?? true)
                {
                    <a asp-page="/Doctor/MedicalRecordManagement/CreatePrescription" asp-route-medicalRecordId="@Model.MedicalRecord.MedicalRecordId" class="btn btn-success">Create Prescription</a>
                    @if (Model.MedicalRecord.ServiceId == 3)
                    {
                        <a asp-page="/Doctor/MedicalRecordManagement/CreateVaccination" asp-route-petHealthId="@Model.PetHealthInfo.PetHealthId" asp-route-medicalRecordId="@Model.MedicalRecord.MedicalRecordId" class="btn btn-success">Create Vaccination</a>
                    }
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



