@page
@model PetClinic.Pages.BookingManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .booking-container {
        margin: 20px;
    }

    .booking-header {
        text-align: center;
        margin-bottom: 30px;
        font-size: 36px;
        color: #4CAF50;
    }

    .calendar-container,
    .slots-container,
    .doctors-container {
        margin-bottom: 20px;
    }

    .available-slots button, .available-doctors button {
        margin: 5px;
        padding: 10px;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

        .available-slots button:hover, .available-doctors button:hover {
            background-color: #45a049;
        }

    .form-container {
        margin-top: 30px;
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #4CAF50;
        border: none;
    }

        .btn-primary:hover {
            background-color: #45a049;
        }

    .information {
        font-size: 24px;
        color: #4CAF50;
        margin-bottom: 20px;
    }
</style>

<div class="booking-container">
    <h1 class="booking-header">Booking</h1>

    <div class="row">
        <div class="col-md-6 calendar-container">
            <h4>Select Date</h4>
            <input asp-for="Booking.BookingAt" class="form-control" type="date" min="@Model.MinDate.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Booking.BookingAt" class="text-danger"></span>
        </div>
        <div class="col-md-6 slots-container">
            <h4>Available slots</h4>
            <div class="available-slots">
                @foreach (var shift in Model.ShiftList)
                {
                    <button class="btn" type="button"
                            onclick="document.getElementById('Booking_ScheduleId').value = '@shift.ShiftId';">
                        @shift.StartTime - @shift.EndTime
                    </button>
                }
            </div>
            <input type="hidden" id="Booking_ScheduleId" asp-for="Booking.ScheduleId" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 doctors-container">
            <h4>Available Doctor</h4>
            <div class="available-doctors">
                @foreach (var doctor in Model.DoctorList)
                {
                    <button class="btn" type="button"
                            onclick="document.getElementById('Booking_DoctorId').value = '@doctor.UserId';">
                        Dr. @doctor.FirstName @doctor.LastName
                    </button>
                }
            </div>
            <input type="hidden" id="Booking_DoctorId" asp-for="Booking.DoctorId" />
        </div>
    </div>

    <div class="form-container">
        <h4 class="information">Information</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.PetId" class="control-label">Pet Name</label>
                <select asp-for="Booking.PetId" class="form-control" asp-items="ViewBag.PetId"></select>
                <span asp-validation-for="Booking.PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Pet.PetAge" class="control-label">Pet Age</label>
                <input asp-for="Booking.Pet.PetAge" class="form-control" />
                <span asp-validation-for="Booking.Pet.PetAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Pet.PetType" class="control-label">Pet Type</label>
                <input asp-for="Booking.Pet.PetType" class="form-control" />
                <span asp-validation-for="Booking.Pet.PetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Pet.CustomerId" class="control-label">Customer Name</label>
                <input asp-for="Booking.Pet.CustomerId" class="form-control" />
                <span asp-validation-for="Booking.Pet.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Pet.Customer.Email" class="control-label">Email</label>
                <input asp-for="Booking.Pet.Customer.Email" class="form-control" />
                <span asp-validation-for="Booking.Pet.Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Pet.Customer.PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="Booking.Pet.Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Booking.Pet.Customer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
