@page
@model PetClinic.Pages.BookingManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Doctor.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.DoctorShift)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.DoctorShift.DoctorShiftId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Pet.PetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Service.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
