@page
@model PetClinic.Pages.BookingManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <div>@Html.DisplayFor(model => model.CurrentUser.Username)</div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].BookingAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingList[0].Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookingList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>   
}
    </tbody>
</table>
